#main {
    transition: margin-left .5s;
  }
  
  .form-container
  {
    padding: 75px 0px;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .mat-toolbar.mat-primary {
    /* background: #ffa907; */
    background: #3f51b5;
    color: #fff;
  }
  
  .form-container h1
  {
    text-align: center;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  /*Side nav background color*/
  .mat-drawer  {
    background-color: #1689b9;
  }
  
  .example-sidenav-container mat-list-item  {
    color: #ffffff;
  }
  
  header, footer, nav, article, aside {
    background-color: #707f87;
    padding: 25px;
    border: 1px #ccc solid;
    text-align: center;
  }
  
  mat-sidenav-container {
    background-color: #edf8ff;
  }
  
  mat-toolbar span {
    color: #ffffff;
  }